body,html{
    height: 100%;
    background-color: #212121;
  }

.bd{
    border : 1px solid black;
}
.cv-info-side-r{
    width: 150px;
    right: 0;
}
.bubble{
    border-radius: 30px;
    width: 550px;
    margin:15px auto 15px auto;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}
.left{
  margin-left:15px;
  background-color: #0287D0;
}
.right{
  margin-right:150px;
  background-color: #FEEA3B;
  
}


#sidenav-left {
  position: fixed;
  width: 150px;
  left: 0;
}
