{% extends "layout.twig" %}

{% block body %}


<div class="container-fluid">

	
	<div class="row">
		<div class="col-xs-9">
			<div class="cv-header page-header">		
				<h1>Développeur Web <small>Od@yD€v</small></h1>		
			</div>
		</div>
		<div class="col-xs-3">
			<div class="cv-info-side-r">		
				<p>
					<span>Etienne CÉNILLE</span>
					<span>30 ans</span>
					<span>etienne.cenille@laposte.net</span>
					<span>7,rue du grand pré 77230 Juilly</span>
					<span>0650858671</span>
					<span>Permis B</span>
				</p>		
			</div>
		</div>
	</div>
	<div class="row">
	
		<div class="cv-forming bubble left">
				
				<dl>
					<dt>Diplômes & Formations</dt>
					<dd>Certification Techniques de développement web / WEB FORCE 3 Paris 
				Octobre 2015 - Février 2016</dd>
				<dd>Certificat de Compétences Opquast Certified Qualité Web - Bonnes
				pratiques (score 575)</dd>
				<dd>Zend PHP 5 certification / IP Formation Paris</dd>
				<dd>2009 - 2010</dd>
				<dd>Formation PHP/MYSQL / G2R Paris
				2009 - 2010</dd>
				<dd>BTS Informatique de Gestion (option développeur d’application) / Lycée
				Voillaume AULNAY-SOUS-BOIS</dd>
				<dd>2006 - 2007</dd>
				Baccalauréat Sciences et Technologies Tertiaire (option Informatique de
				Gestion) / Lycée Charles de Gaulle LONGPERRIER
				2004 - 2005
			</dl>
					
		</div>
	</div>
	<div class="row">
		<div class="cv-xp bubble right">		
			<p>
				<h4>Expériences professionnelles</h4>
				Développeur Web (contrat pro IP Formation) / BDV Informatique Paris<br>
				2009 - 2010<br>
				Création d'un site www.degriff.com<br>
				Maintenance parc sites<br>
				Webmaster (Stage) / MATADOR INTERACTIF Paris<br>
				2007<br>
				Passage d’un site statique en dynamique<br>
				Maintenance réseau (installation de poste, montage carte réseau,
				configuration du réseau en wi-fi, gestion du serveur)<br>
				Webmaster (Stage) / B.B.H PIECES AUTO LA COURNEUVE<br>
				2006<br>
				Création d'un site statique<br>
					
		</div>
	</div>
	<div class="row">
		<div class="cv-skills bubble left">		
			<p>
				<h4>Compétences</h4>
				Front<br>
				HTML5, Bootstrap, GULP(SASS)<br>
				AngularJS, jQuery<br>
				Back<br>
				PHP5/7, POO<br>
				Symfony/Zend Framework<br>
				Versionning GIT, GITHUB, GITFLOW<br>
			</p>		
		</div>
		<div>
			Atouts<br>
			Organiser<br>
			Centres d'intérêts<br>
			Sport / Loisir
			Football
			Musique
			Concerts/Festivals<br>
			Langues
			Anglais
			Ecrit, lu, parlé
		</div>
		<div class="rating rating2">
           <a href="#5" title="Give 5 stars">★</a><!--
        --><a href="#4" title="Give 4 stars">★</a><!--
        --><a href="#3" title="Give 3 stars">★</a><!--
        --><a href="#2" title="Give 2 stars">★</a><!--
        --><a href="#1" title="Give 1 star">★</a>
    </div>
	</div>
	
	</div>

</div>

{% endblock %}

