{% extends "layout.twig" %}

{% block body %}


<div class="container-fluid">

	
	<div class="row">
		

	<!-- div register  -->
     <h2>Register</h2>
  <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
      </div>
    </div> 
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      </div>
    </div> 
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd2">Repeat Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd2" placeholder="Repeat password" name="pwd2">
      </div>
    </div>

    <a href="{{GloginUrl}}"><img src="images/glogin.png" alt=""/></a>
    <a href="#" onclick="signOut();">Sign out GG</a>
    <a href="{{FBloginUrl}}">Log with FB</a>
   
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default">Close</button>
      </div>
    </div>
  </form>
          </div>
	</div>

</div>

{% endblock %}

